@import "tailwindcss";

@font-face {
  font-family: "Century Gothic";
  src: url("../public/fonts/centurygothic.ttf");
}

@theme {
  --font-sans:
    "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  color: #353635;
}

button {
  cursor: pointer;
}

.Century {
  font-family: "Century Gothic";
}

.Jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.swiper-3d .swiper-slide-shadow {
  background: transparent !important;
}

/* Hide arrows in number input for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
