.card {
  border-radius: 67.5px;
  background: linear-gradient(
    141deg,
    rgba(53, 54, 53, 0.05) 0.94%,
    rgba(255, 255, 255, 0.07) 102.98%
  );
  box-shadow:
    49.15px -49.15px 49.15px 0 rgba(37, 37, 37, 0.07) inset,
    -49.15px 49.15px 49.15px 0 rgba(255, 255, 255, 0.07) inset;
  backdrop-filter: blur(59.471500396728516px);
  overflow: hidden;
}

.luxury {
  background: linear-gradient(
    171deg,
    rgba(53, 54, 53, 0.64) 6.53%,
    rgba(255, 255, 255, 0.64) 142.67%
  );
  box-shadow:
    33.883px -33.883px 33.883px 0 rgba(37, 37, 37, 0.07) inset,
    -33.883px 33.883px 33.883px 0 rgba(255, 255, 255, 0.07) inset;
  backdrop-filter: blur(40.998931884765625px);
}
